/*PARA TODO----------------------------------------------------------*/
*{
    background-color: black;
}
/*___________________________________________________________________*/



/*HEADER-------------------------------------------------------------*/
.Tituloxd {
    width: 1245px;
    height: 30px;
    padding-top: 15px;
    margin: auto;
    background-color: #138D75;
}
.titulo{
    color: black;
    text-align: center;
    font-size: 40px;
    width: 100%;
    height: 70px;
    background-color: #138D75;
}
/*___________________________________________________________________*/



/*SECCION PARRAFO----------------------------------------------------*/
.seccion_parrafo{
    width: 1000px;
    height: 5px;
    margin: 50px auto;
}
.parrafo {
    font-size: 15px;
    text-align: center;
    color: #76D7C4;
}
/*___________________________________________________________________*/



/*SECCION TABLA------------------------------------------------------*/
.seccion_tabla {
    margin: 30px 30px 30px 30px;
    padding: 30px 30px 30px 30px;
}
.tabla{
    display: table;
    background-color: #76D7C4;
}
.titulo2 {
    background-color: #138D75;
    font-family: monospace;
    font-size: 20px;
}
.etiquetas {
    color: black;
    text-align: center;
    background-color: #138D75;
}
.parrafo1{
    color: #76D7C4;
}
.parrafo2{
    color: #76D7C4;
}
.parrafo3{
    color: #76D7C4;
}
.parrafo4{
    color: #76D7C4;
}
/*___________________________________________________________________*/



/*SECCION LISTA------------------------------------------------------*/
.seccion_lista{
   margin: 20px;
}
.lista_texto {
    font-size: 25px;
    color: black;
    padding-top: 10px;
    text-align: center;
    width: 1245px;
    height: 40px;
    background-color: #138D75;
    margin: auto;
}
.lista_objetos {
    font-size: 25px;
    color: black;
    padding-top: 10px;
    text-align: center;
    width: 1245px;
    height: 40px;
    margin: auto;
    background-color: #138D75;
}
.lista_texto_css {
    font-size: 25px;
    color: black;
    padding-top: 10px;
    width: 1245px;
    text-align: center;
    height: 40px;
    margin: auto;
    background-color: #138D75;
}
.lista_objetos_css {
    font-size: 25px;
    color: black;
    padding-top: 10px;
    text-align: center;
    width: 1245px;
    height: 40px;
    margin: auto;
    background-color: #138D75;
}
.lista_img{
    font-size: 25px;
    color: black;
    padding-top: 10px;
    text-align: center;
    width: 1245px;
    height: 40px;
    margin: auto;
    background-color: #138D75;
}
.Lista_text{
    color: #76D7C4;
    margin-left: 55px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Lista_obj{
    color: #76D7C4;
    margin-left: 55px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Lista_text_css{
    color: #76D7C4;
    margin-left: 55px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Lista_obj_css{
    color: #76D7C4;
    margin-left: 55px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.Lista_imag{
    color: #76D7C4;
    margin-left: 55px;
    margin-bottom: 30px;
    margin-top: 30px;
}
/*___________________________________________________________________*/



/*SECCION EJEMPLOS---------------------------------------------------*/
.seccion_ejemplos{
    background-color: #138D75;
    width: 1245px;
    height: 1125px;
    margin: 50px auto;
    padding-top: 20px;
}
.seccion_ejemplos2{
    background-color: #138D75;
    width: 1245px;
    height: 1000px;
    margin: 50px auto;
    padding-top: 20px;
}
.seccion_ejemplos3{
    background-color: #138D75;
    width: 1245px;
    height: 900px;
    margin: 50px auto;
    padding-top: 20px;
}
.seccion_ejemplos4{
    background-color: #138D75;
    width: 1245px;
    height: 900px;
    margin: 50px auto;
    padding-top: 20px;
}
.seccion_ejemplos5{
    background-color: #138D75;
    width: 1245px;
    height: 700px;
    margin: 50px auto;
    padding-top: 20px;
}
.ejemplos{
    text-align: center;
    color: black;
    font-size: 25px;
    background-color: #138D75;
}
.ejemplos2{
    text-align: center;
    color: black;
    font-size: 25px;
    background-color: #138D75;
}
/*___________________________________________________________________*/
img{
    width: 500px;
    height: 100px;
}
.pr{
    color: #76D7C4;
    text-align: center;
}
.tablaa{
    margin: auto;
    margin-top: 20px;
    display: table;
}
.lista_xd{
    text-align: left
}
.seccion_1{
    width: 1245px;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin: auto;
}
.seccion_1 div{
    color: #76D7C4;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 200px;
}
.seccion_1 > .caja_2 > li{
    list-style: none;
}
.seccion_1 > .caja_1{
    width: 200px;
    height: 600px;
}
.seccion_1 > .caja_2{
    width: 600px;
    height: 600px;
}
.seccion_1 > .caja_4 > li{
    list-style: none;
}
.seccion_1 > .caja_3{
    width: 200px;
    height: 300px;
}
.seccion_1 > .caja_4{
    width: 600px;
    height: 300px;
}
.seccion_1 > .caja_6 > li{
    list-style: none;
}
.seccion_1 > .caja_5{
    width: 200px;
    height: 260px;
}
.seccion_1 > .caja_6{
    width: 600px;
    height: 260px;
}
.seccion_1 > .caja_8 > li{
    list-style: none;
}
.seccion_1 > .caja_7{
    width: 200px;
    height: 340px;
}
.seccion_1 > .caja_8{
    width: 600px;
    height: 340px;
}
.seccion_1 > .caja_10 > li{
    list-style: none;
}
.seccion_1 > .caja_9{
    width: 200px;
    height: 200px;
}
.seccion_1 > .caja_10{
    width: 600px;
    height: 200px;
}
