body{
    margin: 40px 0px 0px 213px;
    background-color: black;
}
.caja_de_secciones{
    height: 100%;
    width: 213px; /*16%*/
    background-image: url(../img/bannercutre.gif);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    position: fixed;
    left: 0;
    top: 8%;
}
.caja_de_secciones li a{
    color: #76D7C4;
    text-decoration: none;
    transition: 0.3s;
    display: block;
    text-align: center;
    font-size: 15px;
    padding: 8px 25px;
    border-left: 5px solid transparent;
}
.caja_de_secciones li a:hover{
    transition: all 0.3s linear;
    border-left: 5px solid #76D7C4;
}
.boton_etiquetas, .boton_propiedades, .boton_ejemplos, .boton_ejemplos_2{
    margin-bottom: 10px;
}
/************************************************************************/

.caja_contenedora{
    width: 100%;
    height: auto;
    background-color: #138D75;
    padding: 10px 0px 0px 0px;
}

/*SECCION LISTA------------------------------------------------------*/
.lista_texto, .lista_objetos, .lista_texto_css, .lista_objetos_css, .lista_img {
    font-size: 25px;
    padding: 10px 0px;
    text-align: center;
    width: 100%;
    background-image: url(../img/bannercutre.gif);
    margin: auto;
    color: #76D7C4;
}
.Lista_text, .Lista_obj, .Lista_text_css, .Lista_obj_css, .Lista_imag{
    color: #76D7C4;
    margin: 50 0px 30px 55px;
}
.seccion_1{
    display: flex;
    flex-direction: row;
    width: 1000px;
    height: auto;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 30px;;
}
.caja_01{
    margin: 33px;
    width: 310px;
    height: 450px;
}
.caja_01 p{
    margin: auto;
}
.lista_dx{
    margin: 20px 0px 0px 0px;
}
.seccion_lista{
    display: flex;
    flex-wrap: wrap;
}
.seccion_1 > .caja_2 > li{
    list-style: none;
}
.seccion_1 > .caja_1{
    width: 250px;
    height: auto;
}
.seccion_1 > .caja_2{
    width: 600px;
    height: auto;
}
.seccion_1 > .caja_4 > li{
    list-style: none;
}
.seccion_1 > .caja_3{
    width: 260px;
    height: auto;
}
.seccion_1 > .caja_4{
    width: 600px;
    height: auto;
}
.seccion_1 > .caja_6 > li{
    list-style: none;
}
.seccion_1 > .caja_5{
    width: 200px;
    height: auto;
    margin-bottom: 30px;
}
.seccion_1 > .caja_8 > li{
    list-style: none;
}
.seccion_1 > .caja_7{
    width: 200px;
    height: auto;
}
.seccion_1 > .caja_8{
    width: 600px;
    height: auto;
    margin-bottom: 50px;
}
.seccion_1 > .caja_10 > li{
    list-style: none;
}
.seccion_1 > .caja_9{
    width: 200px;
    height: auto;
    margin-bottom: 102px;
    margin-top: 102px;
}
.seccion_1 > .caja_10{
    width: 600px;
    height: auto;
    margin-bottom: 80px;
    margin-top: 100px;   
}
/*___________________________________________________________________*/


/*SECCION EJEMPLOS---------------------------------------------------*/
.seccion_ejemplos, .seccion_ejemplos2, .seccion_ejemplos3, .seccion_ejemplos4, .seccion_ejemplos5{
    background-color: #138D75;
    width: 100%;
    height: auto;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 30px;
}
.ejemplos{
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    height: 40px;
    background-image: url(../img/bannercutre.gif);
    margin: auto;
    color: #76D7C4;
}
.ejemplos2{
    font-size: 25px;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    height: 40px;
    background-image: url(../img/bannercutre.gif);
    margin: auto;
    color: #76D7C4;
}
img{
    width: 450px;
    height: 100px;
}
.tablaa{
    margin: auto;
    margin-top: 20px;
    display: table;
    text-align: center;
    background-image: url(../img/bannercutre.gif);
    color: #76D7C4;
}
/*___________________________________________________________________*/

.Titulo_etiquetas{
    width: 200px;
    height: 30px;
    background-image: url(../img/bannercutre.gif);
    text-align: center;
    padding: 5px 0px 0px 0px;
    color: #76D7C4;
    font-size: 20px;
    border: 1px solid #76D7C4;
}




/*Pagina para telefonos----------------------------------------------*/

@media  screen and (max-width: 500px){
    body{
        margin: 70px 0px 0px 90px;
        font-size: 8px;
    }
    .caja_de_secciones{
        height: 100%;
        width: 90px;

        position: fixed;
        left: 0;
        top: 82px;
    }
    .caja_de_secciones li a{
        color: #76D7C4;
        text-decoration: none;
        transition: 0.3s;
        display: block;
        
        font-size: 8px;
        padding: 8px 0px;
        border-left: 5px solid transparent;
    }

    /*----------------------------------------------------------------------*/

    .lista_texto, .lista_objetos, .lista_texto_css, .lista_objetos_css, .lista_img {
        font-size: 15px;
        text-align: center;
    }
    .Lista_text, .Lista_obj, .Lista_text_css, .Lista_obj_css, .Lista_imag{
        color: #76D7C4;
        margin: 50 0px 30px 55px;
    }

    /*----------------------------------------------------------------------*/

    .seccion_1{
        display: flex;
        flex-direction: row;
        width: 275px;
        height: auto;
        margin: auto;
        margin: 40px 0px;
    }

    /*-----------------------------------------------------------------------*/

    .Titulo_etiquetas{
        width: 100px;
        height: 20px;
        text-align: center;
        font-size: 15px;
        margin: 0;
    }
    .caja_01{
        margin: 0px 0px 50px 40px;
        width: 210px;
        height: auto;
    }
    .seccion_1 > .caja_10 > li{
        list-style: none;
    }
    .seccion_1 > .caja_9{
        width: 200px;
        height: auto;
        margin-bottom: 102px;
        margin-top: 102px;
    }
    .seccion_1 > .caja_10{
        width: auto;
        height: auto;
        margin-bottom: 90px;
        margin-top: 100px;   
    }

/*------------------------------------------------------------------*/

    .seccion_ejemplos, .seccion_ejemplos2, .seccion_ejemplos3, .seccion_ejemplos4, .seccion_ejemplos5{
        width: 100%;
        height: auto;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 30px;
    }
    .ejemplos{
        font-size: 15px;
        padding: 10px 0px 10px 0px;
        text-align: center;
        width: 100%;
        background-image: url(../img/bannercutre.gif);
        margin: auto;
        color: #76D7C4;
    }
    .ejemplos2{
        font-size: 15px;
        padding-top: 10px;
        text-align: center;
        width: 100%;
        background-image: url(../img/bannercutre.gif);
        margin: auto;
        color: #76D7C4;
    }
    img{
        width: 100px;
        height: 30px;
    }
    .tablaa{
        margin: auto;
        margin-top: 20px;
        display: table;
        text-align: center;
        background-image: url(../img/bannercutre.gif);
        color: #76D7C4;
    }
    
    
}

