body{
    margin-top: 40px;
    background-color: black;
}
.banner{
    width: 100%;
    height: 550px;
    padding: 100px 0px 0px 100px;
    background-image: url(../img/bannercutre.gif);
    background-size: cover;
    box-sizing: border-box;
}
.caja_izquierda{
    width: 500px;
    color: #138D75;
}
.banner> .caja_izquierda > h2{
    font-size: 35px;
}
.boton_1{
    display: block;
    color: black;
    width: 80px;
    text-align: center;
    background-color: #138D75;
    padding: 10px 40px 10px 40px;
    border-radius: 20px;
    border: 1px solid #76D7C4;
    font-size: 15px;
    margin-top: 20px;
    transition: 0.3s;
}
.boton_1:hover{
    background-image: url(../img/bannercutre.gif);
    border: 1px solid #76D7C4;
    color: #76D7C4;
    transition: 0.3s;
}
.seccion_2{
    width: 100%;
    height: 480px;
    background-color: #138D75;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 100px;
}
.seccion_03{
    width: 100%;
    height: 40px;
    background-image: url(../img/bannercutre.gif);
    background-size: cover;
    box-sizing: border-box;
}
.seccion_foto{
    margin-left: 180px;
    border: 1px solid black;
    width: 450px;
    height: 350px;
    border-radius: 2%;
    background-image: url(../img/bannercutre.gif);
}
.seccion_foto_2{
    margin-left: 25px;
    border: 1px solid black;
    width: 400px;
    height: 300px;
    margin-top: 25px;
}
.Titulo_inicio{
    margin-right: 500px;
    font-size: 50px;
}
.parrafo_inicio{
    margin-top: 20px;
    font-size: 25px;
}